/* globals color and font */
:root {
  --main-font: "Poppins", sans-serif; /* Set your desired font stack */
  --text-color-black: #000000c9; /* Set your desired text color */
  --background-color-white: #fff; /* Set your desired background color */
  --background-color-green: #0b7044;
}
/* Set global styles */
* {
  color: var(--text-color-black);
  background-color: var(--background-color-white);
  font-family: var(--main-font);
  font-weight: normal;
}
/* all of section will apply it */
section {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 5px; /* Add padding for spacing inside the section */
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* medium screen like (ipad...) */
  
}
@media (min-width: 320px) and (max-width: 767.98px) {
  /* small screen like  (Iphone...) */
  

}

.product-card {
  width: 250px;
  background-color: #b7b2b2;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  
}
.product-card img {
  margin: 5%;
  width: 60%;
  background-color: #b7b2b2;
  transition: transform .2s;
}
.product-card .discount {
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: red;
  color: white;
  padding: 5px;
  z-index: 1;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
}
.product-card .add-to-cart {
  position: absolute;
  top: 90%;
  right: -50px;
  transform: translateY(-50%);
  background-color: transparent;
  padding: 5px;
  opacity: 0;
  width: 60px;
  height: 60px;
  transition: all .2s ease-in-out;
}
.product-card:hover img {
  transform: scale(1.1);
}
.product-card:hover .add-to-cart {
  opacity: 1;
  right: 10px;
}

.product-card h3{
  font-size: 20px;
  text-align: left;
  background-color: #b7b2b2;
}
.product-card h6,p{
  text-align: left;
  background-color: #b7b2b2;
}
.product-card h6{
  font-weight: bold;
  background-color: #b7b2b2;
  
}

.product-card .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #0b7044 ;
  cursor: pointer;
  transition: color .2s;
  background-color: #b7b2b2;
}
.product-card .heart-icon.filled {
  color: red;
}

.product-card:hover .heart-icon{
  background-color: #75b79a;
}

.product-card:hover img{
  background-color: #75b79a;
}
.product-card:hover h3{
  background-color: #75b79a;
}

.product-card:hover h6{
  background-color: #75b79a;
}

.product-card:hover p{
  background-color: #75b79a;
}

.product-card:hover{
  background-color: #75b79a;
}

h2{
  font-weight: bold;
  letter-spacing: 1%;
  color: rgb(2, 45, 2);
  margin: 10%;
}
/* .label {
  width: 525px;
  height: 72px;
} */

/* .label .text-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #042718;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
} */
/* .aaa{
  width: 100%; height: 100%; position: relative;
}
.aaa .bbb{
  left: 0px; top: 0px; position: absolute; color: #042718; font-size: 48px; font-family: Poppins; font-weight: 700; word-wrap: break-word
}
.aaa .bbb .ccc{
  width: 177px; height: 13px; left: 525px; top: 72px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: #042718; border: 6px #0B7044 solid
} */
